[color]
	branch = true
	diff = true
	grep = true
	interactive = true
	showbranch = true
	status = true
	ui = true
[apply]
	whitespace = nowarn
[push]
	default = matching
	followTags = true
[gui]
	encoding = utf-8
[core]
	pager = less --raw-control-chars
	autocrlf = false
	filemode = False
	hideDotFiles = dotGitOnly
[alias]
	branches = branch -avv
	glog = log --oneline --decorate --graph
