## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward

set completion-ignore-case on
set visible-stats on
set match-hidden-files off
set show-all-if-ambiguous on
"\M-s": menu-complete
